body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
@font-face {
    font-family: "Pacifico";
    src: url(./fonts/Pacifico/Pacifico-Regular.ttf) format("woff2");
}
@font-face {
    font-family: "Permament";
    src: url(./fonts/Permanent_Marker/PermanentMarker-Regular.ttf) format("woff2");
}
@font-face {
    font-family: "Playfair";
    src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format("woff2");
}
@font-face {
    font-family: "Whisper";
    src: url(./fonts/Whisper/Whisper-Regular.ttf) format("woff2");
}
@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins/Poppins-Black.ttf) format("woff2");
}
/*header*/
header{
    background-color: #212122;
    height: 50px;
    font-size: 1em;
    width: 100%;
}

nav a:hover{
    color:#FF8C00;
    cursor:pointer;
}
nav a:active{
    padding-top: 3px;
    color:#FF4500;
}
.menu {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    gap: 20px;
    font-size: 1.2em;
    max-width: 80%;
    margin: 0 auto;
    color: #9c9897;
    font-family: "Poppins";
}
/*Cards0*/
.cards0 {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    height: 90vh;
    font-family: "Permament";
    font-size: 1.5em;
}
.animated-text {
    letter-spacing: 1px;
    opacity: 0;
    animation: fadeIn 4s forwards;
    animation-delay: 0.7s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Cards1*/
.cards1 {
    padding-top: 30px;
    max-width: 80%;
    margin: 0 auto;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding-bottom: 40px;
    font-family: "Playfair";
}
.film {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
}
.film p {
    font-size: 1em;
}
.film img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.28);
}
.cards1 p {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
#rednum {
    color: red;
}
/*Cards2*/
.cards2{
    padding-top: 30px;
    max-width: 80%;
    margin: 0 auto;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding-bottom: 30px;
    font-family: "Playfair";
}
.cards2 p {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

/*footer*/


.foot {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    color: #8f8a88;
    font-size: 0.9em;
    height: 100%;
    font-family: "Poppins";
}

@media screen and (max-width: 1530px) {
    .cards1 {
    padding-top: 30px;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding-bottom: 50px;
    }
    .cards2 {
    padding-top: 30px;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding-bottom: 60px;
    
    }
}
@media screen and (max-width: 661px) {
    
     body {
        font-size: 14px;
    }
}
@media screen and (max-width: 648px) {
    body {
        font-size: 13px;
    }
    .cards1 {
        padding-bottom: 60px;
    }
    
}

@media screen and (max-width: 570px) {
    body {
        font-size: 11px;
    }
}
@media screen and (max-width: 492px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width: 424px) {
    body {
        font-size: 9px;
    }
}
@media screen and (max-width: 375px) {
    body {
        font-size: 8px;
    }
}
@media screen and (max-width: 344px) {
    body {
        font-size: 7px;
    }
}
